@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Krub|Fredericka+the+Great');

:root {
    --primary-color: #6a8f60 ;
    --secondary-color:  #a9acaf;
    --accent1-color: #3b6668;
    --accent2-color: #b8d4e3 ;
    --accent3-color: #593E3E;
    --heading-font: "Fjalla One", sans-serif;
    --paragraph-font: "Krub", Arial, sans-serif;
}

html {
    background-color: var(--primary-color)
}

body {
    max-width: 900px;
    margin: 0 auto;
    background-color: var(--accent2-color);
    padding: 1em
}

img {
    max-width: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color:
}

header {
    padding: 1em;
    text-align: center;
    color: var(--accent1-color);
    background-color:
}

header>h1 {
    font-family: "Fredericka the Great" ;
    color:
}

p {
    font-family: var(--paragraph-font);
    color: var(--accent3-color);
    padding: 1em
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center
}

.colors th {
    background-color: #9999
}

.colors td {
    width: 20%;
    height: 3em
}

.primary {
    background-color: var(--primary-color)
}

.secondary {
    background-color: var(--secondary-color)
}

.accent1 {
    background-color: var(--accent1-color)
}

.accent2 {
    background-color: var(--accent2-color)
}

.accent3 {
    background-color: var(--accent3-color)
}

nav {
    background-color: ;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em
}

nav>ul {
    list-style-type: none;
    display: flex
}

nav a {
    padding: 1em;
    min-width: 70px
}

nav a:link,
nav a:visited {
    color:
}

nav a:hover {
    color: ;
    background-color:
}